@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: black;

}

.offset:before {
  display: block;
  content:"";
  height: 4rem;
  margin-top: -4rem;
}
.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background: rgba(0, 0, 0, 0.6)!important;
}

.navbar-brand img {
  height: 2rem;
}

.navbar-nav li {
  padding-right: .7rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: gold;
}
.ion-icon {
  --ionicon-stroke-width: 16px;
}
.ion-icon {
  font-size: 64px;
}
.ion-icon {
  color: blue;
}
.home-inner {
  background-image: url(img/backgrounds/pizza2.jpg);
}
.home-inner1 {
  background-image: url(img/backgrounds/pizza1.jpg);
}
.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  color: white;
  text-transform: uppercase;
}
.caption h3 {
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: .3rem;
  color: gold;
}
.caption p {
  font-size: 1.4rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 1.6rem;
  color: purple;
}
/*--- About Section ---*/

.narrow {
  width: 100%;
  margin: 1.5rem;
  padding-top: 2rem;
}
.narrow h1 {
  font-size: 2.4rem;
  color: purple;
}
.btn-secondary {
  border-width: medium;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: .6rem 1.2rem;
  margin: 1rem;
  color: black;
  background-color: gold;
  border-color: purple;
}
.btn-secondary:hover {
  color: white;
  background-color: purple;
  border-color: gold;
}
/*--- Form Section ---*/
nav ul {
  margin: 0;
}

.nav li {
  text-align: center;
  display: inline;
}

.nav a {
  display: inline-block;
  padding: .5em;
  color: white;
  text-decoration: none;
}

.main-nav {
  text-align: center;
  font-size: 1.1em;
  font-weight: lighter;
  border-bottom: 1px solid rgba(255, 255, 255, .3)
}

.main-nav li {
  padding: 0 5%;
}

.nav a:hover {
  background-color: rgba(255, 255, 255, .3)
}

.main-header {
  background-color: gold;
  background-blend-mode: multiply;
  background-size: cover;
  padding-bottom: 30px;
}

.band-name {
  text-align: center;
  margin: 0;
  font-size: 4em;
  font-family: "Booter - Zero Zero";
  font-weight: normal;
  color: white;
}

.band-name-medium {
  text-align: center;
  font-weight: normal;
  font-size: 1.9rem;
  color: purple;
  font-family: 'Lato', sans-serif;
}

.content-section {
  margin: 1em;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.5em;
}
.section-header {
  font-family: "Metal Mania";
  font-weight: normal;
  color: #333;
  text-align: center;
  font-size: 2.5em;
}

.about-band-image {
  float: left;
  height: 200px;
  width: 200px;
  margin: 15px;
  border-radius: 50%;
}

.main-footer {
  background-color: #56CCF2;
  color: white;
  padding: .25em 0;
}

.main-footer-container {
  display: flex;
  align-items: center;
}

.main-footer-container ul {
  flex-grow: 1;
  text-align: end;
}

.footer-nav li {
  padding: 0 .5em;
}

.footer-nav img {
  width: 30px;
  height: 30px;
}

.btn {
  text-align: center;
  vertical-align: middle;
  padding: .67em .67em;
  cursor: pointer;
}

.btn-header {
  margin: .5em 15% 2em 15%;
  color: white;
  border: 2px solid #2D9CDB;
  background-color: rgba(255, 255, 255, .1);
  border-radius: 0;
  font-size: 1.5em;
  font-weight: lighter;
  padding-left: 2em;
  padding-right: 2em;
}

.btn-header:hover {
  background-color: rgba(255, 255, 255, .3);
}

.btn-play {
  display: block;
  margin: 0 auto;
  color: #2D9CDB;
  font-size: 4em;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 0;
  text-align: center;
}

.btn-primary {
  color: white;
  background-color: gold;
  border: none;
  border-radius: .3em;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: goldenrod;
}

.tour-row {
  border-bottom: 1px solid black;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.tour-row:last-child {
  border: none;
}

.tour-item {
  display: inline-block;
  padding-right: .5em;
}

.tour-date {
  color: #555;
  width: 11%;
  font-weight: bold;
}

.tour-city {
  width: 24%;
}

.tour-arena {
  width: 42%;
}

.tour-btn {
  max-width: 19%;
}

.shop-item {
  margin: 30px;
}

.shop-item-title {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-bottom: 15px;
  font-family: 'Lato', sans-serif;
}

.shop-item-image {
  height: 100px;
}

.shop-item-details {
  display: flex;
  align-items: center;
  padding: 5px;
}

.shop-item-price {
  flex-grow: 1;
  color: #333;
}

.shop-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: #333;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: #333;
}

.cart-quantity {
  width: 35%;
}

.cart-item-title {
  color: #333;
  margin-left: .5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: 50px;
  height: auto;
  border-radius: 10px;
}

.btn-danger {
  color: black;
  background-color: #CC4C4C;
  border: none;
  border-radius: .3em;
  font-weight: bold;
}

.btn-danger:hover {
  background-color: #CC4C4C;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid gold;
  background-color: white;
  color: black;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px;
}

.cart-total-price {
  color: #333;
  font-size: 1.1em;
}

.btn-purchase {
  display: block;
  margin: 40px auto 80px auto;
  font-size: 1.75em;
}
/*--- Contact Section ---*/
.fixed-background1 {
  background-image: url(img/backgrounds/pizza4.jpg);
  text-align: center;
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
}
.fixed-background1 p {
  color: gold;
  font-size: xx-large;
  font-family: 'Lato', sans-serif;
}
/*--- Features Section ---*/
.jumbotron {
  margin-bottom: 0;
  padding: 2rem 0 3.5rem;
  border-radius: 0;

}
h3.heading {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
}
.heading-underline {
     width: 10rem;
     height: .4rem;
     background-color: gold;
     margin: 0 auto 2rem;
}
.feature svg.svg-inline--fa {
  color: gold;
}
.feature h3 {
  font-size: 1.3rem;
  text-transform: uppercase;
  padding-bottom: .4rem;
}
.feature p {
  font-size: 1.1rem;
}

footer {
  background-color: gold;
  color: black;
  padding: 2rem 0 2rem;
  margin-top: 1rem;
}
footer img {
  height: 3rem;
  margin: 1.5rem 0;
}
footer a {
  color: white;
}
footer svg.svg-inline--fa {
  font-size: 1.6rem;
  margin: 1.2rem .5rem 0 0;
}
footer svg.svg-inline--fa:hover {
  color: #1ebba3!important;
}
hr.socket {
  width: 100%;
  border-top: .2rem solid purple;
  margin-top: 3rem;
}
/*--- Media Queries ---*/
@media (max-width: 767px) {
  .caption h4 {
    font-size: 1.8rem;
    letter-spacing: .15rem;
    padding-bottom: .5rem;
  }
  .caption p {
    font-size: 0.8rem;
    padding-bottom: 1.2rem;
  }
  
  .btn-lg {  
    padding: .5rem 1rem;
    font-size: 1rem;
  }
  .narrow h1 {
    font-size: 1.5rem;
  }
  .image {
    max-width: 100px;
    display: block;
    margin: 0 auto;
  }
}
